*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  #e1ad01;
}

h2{
    position: relative;
    margin: 0;
    font-family: sans-serif;
    font-weight: 900;
    color: #e1ad01;
    -webkit-text-stroke: 0.3vw #e1ad01;
    text-transform: uppercase;
}
h2:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #383d52;
    -webkit-text-stroke: #383d52;
    border-right: 2px solid #383d52;
    overflow:hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0%;
    }
    70%,90%
    {
        width: 100%;
    }
}


h3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}